html, body { height: auto }

.pz-nav-btn {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.pz-nav-btn:hover {
    text-decoration: none;
    color:white;
    font-weight: bold;
}


.pz-section {
    background-color:white;
}



* {
    
    font-family: 'Source Sans Pro', sans-serif;
}
.big-image-main{
    width: 100vw;    
    height: 100vh;
    position:fixed;
}

.big-image {
    width: 100vw;    
}
.col-sm-6{
    padding: 0;
}
                                                                
body {
/*    //niepotrzebne chyba//*/
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.navbar {
    position:absolute;
    margin-top:10px;
    margin-left:10px;
    margin-right:50px;
}

                                                            /* FULLSCROLL*/


#fullpage {
    height: 100vh;
    overflow: hidden;
}

#fullpage section{
    height: 100vh;
}

#fullpage section:nth-child(1){
    
}

#fullpage section:nth-child(2){
  
}

.fullscr_row {   
    height: 100vh;
}

.row {
    margin:0;
}


                                                            /*SECTION 1*/

.pz-navbar {
    position: fixed;;
    width:100%;
    
    
}
.wstep-opis {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;    
    color:white;
    width:95vw;
    transform: translate(-50%, -50%);
    
}

.opis {
    text-align: justify;    
    padding: 15px;
}





                                                            /*SECTION 2 DOM*/

                                                            
/*                                     LEWA STRONA                       */
.sm-image {
    width:400px;
    height:400px;
}

.responsive-container {
  margin: 1em auto;
  min-width: 200px;       /* cap container min width */
  max-width: 500px;       /* cap container max width */
  position: relative;     
  overflow: hidden;       /* crop if image is larger than container */
/*  background-color: #ccc; */
}

.responsive-container img {
  position: absolute;
  top: -999px;            /* use sufficiently large number */
  bottom: -999px;
  left: -999px;
  right: -999px;
  margin: auto;           /* center horizontally and vertically */
}



/*                                     PRAWA STRONA*/


.dom {
    font-size: 3.5em;
    background: #700325;
    padding-bottom: 10px;
    margin-left:15px;
}

.domek {
    background: white;
}

.center-div
{
    
/*    background-color: #ccc;*/
     margin: 0 auto;
     height: 100vh;
     width: 100vw; 
}

.center-div .maly-opis
{
    text-align: justify;
  
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
     width:500px;
     
     
}






                                                                /*SECTION 3 SDS*/









.text-block {    
  position: absolute;
  bottom: 25%;
  left: 5%;
  background-color: rgba(112,3,37,0.7);
  color: white;
  padding:20px;
}

.duzy-opis {
    width: 400px;
}


                                                                /*SECTION 4 SENIOR+*/

                                                                /*SECTION 5 WTZ*/
                                                                
                                                                /*SECTION 6 DLACZEGO*/
                     
                                                                
.icon-square, .icon-square {
    height:31px;
    width:31px;    
}

.icon-square {
    margin-left:10px;
}



.tytul-section6 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 100px;
}

.center-div .maly-opis-lewy
{
    text-align: justify;  
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
     width:50vw;
     padding-right: 200px;
     
}


.center-div .maly-opis-prawy
{
    text-align: justify;  
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
     width:50vw;
     padding-left: 200px;     
}



                                                                
                                                                /*SECTION 7 O NAS*/
                                                                


.line {
    height:2px;
    width:30%;
    margin: auto;
    background-color:#700325;
}

.o_nas {
    text-align: justify;
    margin: auto;
    width: 700px;
    background-color: white;
    margin-top:5%;
}
                                                                
                                                                


.margin-a {
    margin: auto;
}



.footer {
  background-color: #333333;
  
  color: white
}

.pz-w {
    width:100%;
}

.pz-max-w {
    max-width:500px;
}


.pz-arrow {
    width: 100%;     
    cursor: pointer;
}

a {
	color: black;
}

a:hover {
	text-decoration:none;
	color:black;
	font-weight: bold;
}

